asyncTest.py
auth.py
autoparts.py
byfly_webcam.py
chatFpt.py
chromedriver
clicker.py
currencyAPI.py
data.csv
ddd.py
dd.png
dfd.py
Dockerfile
fishnetPars.py
geckodriver.log
getDistance.py
github
github.pub
googleSheetsKey.json
googleSheets.py
goszakupkiBy.py
hb.json
hh.json
index.html
kufarParsingModal.py
mdbParsing.py
mqttSub.py
names.txt
other.py
postgreunit.py
README.md
requirements.txt
test1.py
test.py
threadingTest.py